[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
toml = "*"
youtube-dl = "*"
"discord.py" = "*"
pynacl = "*"

[requires]
python_version = "3.8"
